In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [2]:
df=pd.read_csv("/content/realtor-data.CSV")

In [3]:
df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [4]:
df[['bed','bath']].describe()

                bed          bath
count  52184.000000  52422.000000
mean       3.701767      2.450078
std        1.932447      1.560202
min        1.000000      1.000000
25%        3.000000      2.000000
50%        3.000000      2.000000
75%        4.000000      3.000000
max       40.000000     36.000000

In [8]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['zip_code'], x2=None, value=146)
print(float(pvalue))
print(ztest)

nan
nan

In [9]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected

In [11]:
ztest,pval1=stests.ztest(df['bed'],df['bath'],value=100)
print(float(pval1))

nan

In [12]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected